html {
  font-family: "Asap", sans-serif;
}
body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
}
#introduction {
  color: black;
  text-transform: uppercase;
  transition: ease;
  animation: intro ease 1s;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.content1 {
  background-color: rgba(253, 253, 253, 0.8);
  backdrop-filter: blur (10px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  animation: intro ease 2s;
}
.content1 a {
  text-decoration: none;
}
#avatar {
  width: 420px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#qrcode {
  width: 100px;
  float: right;
  margin-right: 10px;
}
#info {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding-top: 4px;
  padding-left: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}
#instagram {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(240, 240, 240);
  background: linear-gradient(270deg, #ffee00, #ff5100, #5715f0);
  background-size: 600% 600%;
  padding: 4px;
  border-radius: 6px;
  font-size: 12px;
  animation: cgcolors 4s ease-in-out infinite;
}
#linkedin {
  width: 30px;
  margin-right: 10px;
  font-size: 12px;
  padding: 4px;
  background: linear-gradient(270deg, #1f50d8, #1682ad);
  color: white;
  background-size: 600% 600%;
  border-radius: 4px;
  animation: cgcolors 4s ease-in-out infinite;
}
#twitter {
  width: 30px;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 12px;
  padding: 4px;
  background: linear-gradient(270deg, #00c3ff, #006eff);
  color: white;
  background-size: 600% 600%;
  animation: cgcolors 4s ease-in-out infinite;
}

#freecodecamp {
  width: 40px;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  background: linear-gradient(270deg, #ffffff, #9e9e9e);
  color: white;
  background-size: 600% 600%;
}
#codepen {
  width: 30px;
  margin-right: 10px;
  font-size: 12px;
  padding: 4px;
  background: linear-gradient(270deg, #46a51a, #36606d);
  color: white;
  background-size: 600% 600%;
  border-radius: 4px;
  animation: cgcolors 4s ease-in-out infinite;
}

#portfolio {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  min-height: 100vh;
}
.portfolioelements {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(26, 26, 26, 0.13);
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  justify-content: space-around;
}
.element {
  background: linear-gradient(180deg, #6d4e0a3a, #494949);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.element img {
  width: 40px;
  vertical-align: middle;
}
.element:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementpepsi {
  background: linear-gradient(180deg, #004883, #e32934);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.elementpepsi img {
  width: 40px;
  vertical-align: middle;
}
.elementpepsi:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementapple {
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  background: linear-gradient(180deg, #000000, #353535);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.elementapple img {
  width: 40px;
  vertical-align: middle;
}
.elementapple:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementdocumentation {
  background: linear-gradient(180deg, #a09972, #f3ef7e);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.elementdocumentation img {
  width: 40px;
  vertical-align: middle;
}
.elementdocumentation:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementwiki {
  background: linear-gradient(180deg, #ffffff, #777777);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.elementwiki img {
  width: 40px;
  vertical-align: middle;
}
.elementwiki:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementportfolio {
  background: linear-gradient(180deg, #ff4800, #f74ada, cyan);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  color: white;
}
.elementportfolio img {
  width: 40px;
  vertical-align: middle;
}
.elementportfolio:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementfigma {
  background: linear-gradient(180deg, #69e638, #40bd70);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.219);
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.elementfigma img {
  width: 100px;
}
.elementfigma a {
  text-decoration: none;
}
#interactive {
  width: 40px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.elementfigma:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementbuy {
  background: linear-gradient(180deg, #fa8907, #1c449b);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  text-shadow: 4px 2px 20px black;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.elementbuy img {
  width: 100px;
}
.elementbuy:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
.elementtest {
  background: linear-gradient(180deg, #292929, #000000);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
  box-shadow: 0px 2px 4px rgba(26, 26, 26, 0.836);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 4px;
  backdrop-filter: blur (10px);
  text-shadow: 4px 2px 20px black;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.elementtest img {
  width: 100px;
}
.elementtest:hover {
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}

#pepsi:hover {
  transform: rotate(360deg);
  transition: 1s ease-in;
}
#resume {
  min-height: 100vh;
  text-transform: uppercase;
  color: black;
}
.description {
  width: 30%;
  position: absolute;
  margin: auto;
  background-color: rgb(133, 21, 21);
  color: black;
  border-radius: 10px;
  padding: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.resumecontent {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.number {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
  border-radius: 10px;
  color: black;
  font-weight: 500;
  width: 80px;
  text-align: center;
  display: block;
  letter-spacing: 0px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
}
.diploma {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.075);
  color: black;
  width: 30%;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 10px;
  padding-left: 4px;
}
.diploma img {
  width: 26px;
  vertical-align: middle;
}
.diploma a {
  color: black;
  text-decoration: none;
}
.diploma:hover {
  transition: 0.2s ease-in-out;
  transform: scale(0.94);
}
.skillscontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.skill {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 200px;
  padding-left: 4px;
  text-align: center;
  box-shadow: 4px 2px 10px rgba(3, 3, 3, 0.274);
  font-weight: 500;
}
.skill .checked {
  color: rgb(255, 238, 0);
}

.cvdownload {
  width: 160px;
  height: 24px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  padding-left: 4px;
}
.resumecontent a {
  text-decoration: none;
}
#contactme {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 2px 10px rgba(3, 3, 3, 0.274);
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.card img {
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 100%;
}
.card .dataemail {
  background-color: white;

  box-shadow: 4px 2px 20px rgba(104, 104, 104, 0.274);
  border-radius: 10px;
  padding: 4px;
  width: 240px;
}
.card .dataphone {
  background-color: white;
  box-shadow: 4px 2px 20px rgba(109, 109, 109, 0.274);

  border-radius: 10px;
  padding: 4px;
  width: 140px;
}
.card a {
  text-decoration: none;
  color: black;
}
#backgroundcontactme {
  padding: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#emailpulse {
  animation: pulse 1s ease-in-out infinite;
  display: inline-block;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes AnimationName {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media query screen size*/
@media (max-width: 600px) {
  .diploma {
    font-size: 14px;
    line-height: 1.8;
    padding-right: 4px;
    text-align: left;
    width: 50%;
  }
  .number {
    margin: auto;
    text-align: center;
    width: 60px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 10px;
  }
}
.snowflake {
  animation: snowflake 6s ease-in-out infinite;
  display: inline-block;
  transform-origin: center;
}
@keyframes snowflake {
  0% {
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.spaceship {
  animation: enginestart 4s ease-in-out infinite;
  display: inline-block;
}
@keyframes enginestart {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes cgcolors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Hand animation */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
  }
    #avatar {
    width: 300px;
  }
}
